* {
  font-family: 'ppneuemontreal', 'Helvetica', sans-serif;
  font-style: normal;
  line-height: 1.25;
  text-rendering: optimizeSpeed;
  letter-spacing: 0.1px;
  font-weight: 450;
}

body {
  background-color: #000;
  color: #fff;
}
