---
import MainLayout from '../layouts/MainLayout.astro'
import MarqueeCities from '../components/MarqueeCities.astro'
import ClockComponent from '../components/ClockComponent.astro'
---

<MainLayout
  title="Weather Teampus"
  description="Weather info - Tempus"
  image="/default-image.jpg"
>
  <ul>
		<li>
			<a href="widgets/clock">Relojv</a>
			<pre><code class="language-html">&lt;iframe height="200" width="300" title="Reloj" src="https://ligrestudio.github.io/ewall/widgets/clock/"&gt;&lt;/iframe&gt;</code></pre>
		</li>
		<li>
			<a href="widgets/cities-weather">Marquesina ciudades</a>
			<pre><code class="language-html">&lt;iframe height="200" width="300" title="Marquesina ciudades" class="https://ligrestudio.github.io/ewall/widgets/cities-weather/"&gt;&lt;/iframe&gt;</code></pre>
		</li>
	</ul>
</MainLayout>

<script>
	const copyButtonLabel = "Copy Code";

// use a class selector if available
let blocks = document.querySelectorAll("pre");

blocks.forEach((block) => {
  // only add button if browser supports Clipboard API
  if (navigator.clipboard) {
    let button = document.createElement("button");

    button.innerText = copyButtonLabel;
    block.appendChild(button);

    button.addEventListener("click", async () => {
      await copyCode(block, button);
    });
  }
});

async function copyCode(block, button) {
  let code = block.querySelector("code");
  let text = code.innerText;

  await navigator.clipboard.writeText(text);

  // visual feedback that task is completed
  button.innerText = "Code Copied";

  setTimeout(() => {
    button.innerText = copyButtonLabel;
  }, 700);
}
</script>

<style>
	li {
		list-style: none;
		margin: 1rem 0;
		display: flex;
		flex-direction: column;
	}
	a {
		color: #fff;
		text-decoration: none;
	}
	a:hover {
		color: #fff;
		text-decoration: underline;
	}

	/* Code boxes */

	pre[class*="language-"] {
  position: relative;
  overflow: auto;

  /* make space  */
  margin: 5px 0;
  padding: 1.75rem 0 1.75rem 1rem;
  border-radius: 10px;
}

pre[class*="language-"] button {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 0.9rem;
  padding: 0.15rem;
  background-color: #828282;

  border: ridge 1px #7b7b7c;
  border-radius: 5px;
  text-shadow: #c4c4c4 0 0 2px;
}

pre[class*="language-"] button:hover {
  cursor: pointer;
  background-color: #bcbabb;
}
</style>
