---
import MainLayout from '../layouts/MainLayout.astro'
import MarqueeCities from '../components/MarqueeCities.astro'
import ClockComponent from '../components/ClockComponent.astro'
---

<MainLayout
  title="Weather Teampus"
  description="Weather info - Tempus"
  image="/default-image.jpg"
>
  <ul>
		<li>
			<a href="widgets/clock">Reloj</a>
			v<a href="widgets/cities-weather">Marquesina ciudades</a>
		</li>
	</ul>
</MainLayout>
