---
import MainLayout from '../../layouts/MainLayout.astro'
---

<MainLayout
  title="Clock - Info Teampus"
  description="What time is it?"
  image="/default-image.jpg"
>
<div class="wrapper">
<div class="container">
<div class="col1">
  <p style="font-size: 2rem;">Col:Pr-white Bg:Tempus-black</p>
  <p style="font-size: 2rem;">Tritónica - PP Neue Montreal 2rem</p>
  <p style="font-size: 1.5874rem;">Tritónica - PP Neue Montreal 1.5874rem</p>
  <p style="font-size: 1.2599rem;">Tritónica - PP Neue Montreal 1.2599rem</p>
  <p style="font-size: 1rem;">Tritónica - PP Neue Montreal 1rem</p>
  <p style="font-size: .7937rem;">Tritónica - PP Neue Montreal .7937rem</p>

  <p style="font-size: 2rem;">Clásica - PP Neue Montreal 2rem</p>
  <p style="font-size: 1.7411rem;">Clásica - PP Neue Montreal 1.7411rem</p>
  <p style="font-size: 1.5157rem;">Clásica - PP Neue Montreal 1.5157rem</p>
  <p style="font-size: 1.3195rem;">Clásica - PP Neue Montreal 1.3195rem</p>
  <p style="font-size: 1.1487rem;">Clásica - PP Neue Montreal 1.1487rem</p>
  <p style="font-size: 1rem;">Clásica - PP Neue Montreal 1rem</p>
  <p style="font-size: .8706rem;">Clásica - PP Neue Montreal .8706rem</p>

  <p style="font-size: 2.0582rem;">Áurea - PP Neue Montreal 2.0582rem</p>
  <p style="font-size: 1.618rem;">Áurea - PP Neue Montreal 1.618rem</p>
  <p style="font-size: 1.272rem;">Áurea - PP Neue Montreal 1.272rem</p>
  <p style="font-size: 1rem;">Áurea - PP Neue Montreal 1rem</p>
  <p style="font-size: .7862rem;">Áurea - PP Neue Montreal .7862rem</p>
</div>
<div class="col2">
  <p style="font-size: 2rem;">Col:Tempus-1395c Bg:Tempus-7527c</p>
  <p style="font-size: 2rem;">Tritónica - PP Neue Montreal 2rem</p>
  <p style="font-size: 1.5874rem;">Tritónica - PP Neue Montreal 1.5874rem</p>
  <p style="font-size: 1.2599rem;">Tritónica - PP Neue Montreal 1.2599rem</p>
  <p style="font-size: 1rem;">Tritónica - PP Neue Montreal 1rem</p>
  <p style="font-size: .7937rem;">Tritónica - PP Neue Montreal .7937rem</p>

  <p style="font-size: 2rem;">Clásica - PP Neue Montreal 2rem</p>
  <p style="font-size: 1.7411rem;">Clásica - PP Neue Montreal 1.7411rem</p>
  <p style="font-size: 1.5157rem;">Clásica - PP Neue Montreal 1.5157rem</p>
  <p style="font-size: 1.3195rem;">Clásica - PP Neue Montreal 1.3195rem</p>
  <p style="font-size: 1.1487rem;">Clásica - PP Neue Montreal 1.1487rem</p>
  <p style="font-size: 1rem;">Clásica - PP Neue Montreal 1rem</p>
  <p style="font-size: .8706rem;">Clásica - PP Neue Montreal .8706rem</p>

  <p style="font-size: 2.0582rem;">Áurea - PP Neue Montreal 2.0582rem</p>
  <p style="font-size: 1.618rem;">Áurea - PP Neue Montreal 1.618rem</p>
  <p style="font-size: 1.272rem;">Áurea - PP Neue Montreal 1.272rem</p>
  <p style="font-size: 1rem;">Áurea - PP Neue Montreal 1rem</p>
  <p style="font-size: .7862rem;">Áurea - PP Neue Montreal .7862rem</p>
</div>
<div class="col3">
  <p style="font-size: 2rem;">Col:Accent-blue Bg:Tempus-white</p>
  <p style="font-size: 2rem;">Tritónica - PP Neue Montreal 2rem</p>
  <p style="font-size: 1.5874rem;">Tritónica - PP Neue Montreal 1.5874rem</p>
  <p style="font-size: 1.2599rem;">Tritónica - PP Neue Montreal 1.2599rem</p>
  <p style="font-size: 1rem;">Tritónica - PP Neue Montreal 1rem</p>
  <p style="font-size: .7937rem;">Tritónica - PP Neue Montreal .7937rem</p>

  <p style="font-size: 2rem;">Clásica - PP Neue Montreal 2rem</p>
  <p style="font-size: 1.7411rem;">Clásica - PP Neue Montreal 1.7411rem</p>
  <p style="font-size: 1.5157rem;">Clásica - PP Neue Montreal 1.5157rem</p>
  <p style="font-size: 1.3195rem;">Clásica - PP Neue Montreal 1.3195rem</p>
  <p style="font-size: 1.1487rem;">Clásica - PP Neue Montreal 1.1487rem</p>
  <p style="font-size: 1rem;">Clásica - PP Neue Montreal 1rem</p>
  <p style="font-size: .8706rem;">Clásica - PP Neue Montreal .8706rem</p>

  <p style="font-size: 2.0582rem;">Áurea - PP Neue Montreal 2.0582rem</p>
  <p style="font-size: 1.618rem;">Áurea - PP Neue Montreal 1.618rem</p>
  <p style="font-size: 1.272rem;">Áurea - PP Neue Montreal 1.272rem</p>
  <p style="font-size: 1rem;">Áurea - PP Neue Montreal 1rem</p>
  <p style="font-size: .7862rem;">Áurea - PP Neue Montreal .7862rem</p>
</div>  
</div>
<div class="container">
  <div class="col1b">
    <p style="font-size: 2rem;">Col:Tempus-black Bg:Pr-white</p>
    <p style="font-size: 2rem;">Tritónica - PP Neue Montreal 2rem</p>
    <p style="font-size: 1.5874rem;">Tritónica - PP Neue Montreal 1.5874rem</p>
    <p style="font-size: 1.2599rem;">Tritónica - PP Neue Montreal 1.2599rem</p>
    <p style="font-size: 1rem;">Tritónica - PP Neue Montreal 1rem</p>
    <p style="font-size: .7937rem;">Tritónica - PP Neue Montreal .7937rem</p>
  
    <p style="font-size: 2rem;">Clásica - PP Neue Montreal 2rem</p>
    <p style="font-size: 1.7411rem;">Clásica - PP Neue Montreal 1.7411rem</p>
    <p style="font-size: 1.5157rem;">Clásica - PP Neue Montreal 1.5157rem</p>
    <p style="font-size: 1.3195rem;">Clásica - PP Neue Montreal 1.3195rem</p>
    <p style="font-size: 1.1487rem;">Clásica - PP Neue Montreal 1.1487rem</p>
    <p style="font-size: 1rem;">Clásica - PP Neue Montreal 1rem</p>
    <p style="font-size: .8706rem;">Clásica - PP Neue Montreal .8706rem</p>
  
    <p style="font-size: 2.0582rem;">Áurea - PP Neue Montreal 2.0582rem</p>
    <p style="font-size: 1.618rem;">Áurea - PP Neue Montreal 1.618rem</p>
    <p style="font-size: 1.272rem;">Áurea - PP Neue Montreal 1.272rem</p>
    <p style="font-size: 1rem;">Áurea - PP Neue Montreal 1rem</p>
    <p style="font-size: .7862rem;">Áurea - PP Neue Montreal .7862rem</p>
  </div>
  <div class="col2b">
    <p style="font-size: 2rem;">Col:Bluetech-sand Bg:Tempus-1395c</p>
    <p style="font-size: 2rem;">Tritónica - PP Neue Montreal 2rem</p>
    <p style="font-size: 1.5874rem;">Tritónica - PP Neue Montreal 1.5874rem</p>
    <p style="font-size: 1.2599rem;">Tritónica - PP Neue Montreal 1.2599rem</p>
    <p style="font-size: 1rem;">Tritónica - PP Neue Montreal 1rem</p>
    <p style="font-size: .7937rem;">Tritónica - PP Neue Montreal .7937rem</p>
  
    <p style="font-size: 2rem;">Clásica - PP Neue Montreal 2rem</p>
    <p style="font-size: 1.7411rem;">Clásica - PP Neue Montreal 1.7411rem</p>
    <p style="font-size: 1.5157rem;">Clásica - PP Neue Montreal 1.5157rem</p>
    <p style="font-size: 1.3195rem;">Clásica - PP Neue Montreal 1.3195rem</p>
    <p style="font-size: 1.1487rem;">Clásica - PP Neue Montreal 1.1487rem</p>
    <p style="font-size: 1rem;">Clásica - PP Neue Montreal 1rem</p>
    <p style="font-size: .8706rem;">Clásica - PP Neue Montreal .8706rem</p>
  
    <p style="font-size: 2.0582rem;">Áurea - PP Neue Montreal 2.0582rem</p>
    <p style="font-size: 1.618rem;">Áurea - PP Neue Montreal 1.618rem</p>
    <p style="font-size: 1.272rem;">Áurea - PP Neue Montreal 1.272rem</p>
    <p style="font-size: 1rem;">Áurea - PP Neue Montreal 1rem</p>
    <p style="font-size: .7862rem;">Áurea - PP Neue Montreal .7862rem</p>
  </div>
  <div class="col3b">
    <p style="font-size: 2rem;">Col:Tempus-white Bg:Accent-blue</p>
    <p style="font-size: 2rem;">Tritónica - PP Neue Montreal 2rem</p>
    <p style="font-size: 1.5874rem;">Tritónica - PP Neue Montreal 1.5874rem</p>
    <p style="font-size: 1.2599rem;">Tritónica - PP Neue Montreal 1.2599rem</p>
    <p style="font-size: 1rem;">Tritónica - PP Neue Montreal 1rem</p>
    <p style="font-size: .7937rem;">Tritónica - PP Neue Montreal .7937rem</p>
  
    <p style="font-size: 2rem;">Clásica - PP Neue Montreal 2rem</p>
    <p style="font-size: 1.7411rem;">Clásica - PP Neue Montreal 1.7411rem</p>
    <p style="font-size: 1.5157rem;">Clásica - PP Neue Montreal 1.5157rem</p>
    <p style="font-size: 1.3195rem;">Clásica - PP Neue Montreal 1.3195rem</p>
    <p style="font-size: 1.1487rem;">Clásica - PP Neue Montreal 1.1487rem</p>
    <p style="font-size: 1rem;">Clásica - PP Neue Montreal 1rem</p>
    <p style="font-size: .8706rem;">Clásica - PP Neue Montreal .8706rem</p>
  
    <p style="font-size: 2.0582rem;">Áurea - PP Neue Montreal 2.0582rem</p>
    <p style="font-size: 1.618rem;">Áurea - PP Neue Montreal 1.618rem</p>
    <p style="font-size: 1.272rem;">Áurea - PP Neue Montreal 1.272rem</p>
    <p style="font-size: 1rem;">Áurea - PP Neue Montreal 1rem</p>
    <p style="font-size: .7862rem;">Áurea - PP Neue Montreal .7862rem</p>
  </div>  
  </div>
</div>
</MainLayout>

<style>
  p {
    margin-bottom: 1rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
  }

  .container div {
    padding: 1rem;
  }

  .col1b {
    color: #000;
    background-color: #fff;
  }

  .col2 {
    color: #996017;
    background-color: #d3d1c3;
  }

  .col2b {
    background-color: #996017;
    color: #fdf6ee;
  }

  .col3 {
    color: #1841eb;
    background-color: #f5f7f0;
  }

  .col3b {
    background-color: #1841eb;
    color: #f5f7f0;
  }
  </style>